@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Medium.ttf);
    }
@font-face {
    font-family: "Rowdies";
    src: url(fonts/Rowdies-Regular.ttf);
}
/*yrityksestä sivun layout*/

@media only screen and (min-width: 800px) {
    .koko-yrityksesta-sivu {
        display: flex;
    }
    
    .yrityksesta-kuva {
        background:
            linear-gradient(
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)
            ),
            url(pictures/finnish-nature.jpg);
        background-size: cover;
        min-width: 50%;
        max-width: 50%;
    }

    .ekologiset-tuotteet {
        text-align: center;
        line-height: 100vh; 
        color: snow;
        font-family: "Rowdies";
        font-size: 1.35em;
    }
    
    .yrityksesta-sivu {
        max-width: 50%;
        min-width: 50%;
    }
}

@media only screen and (max-width: 799px) {
    .yrityksesta-kuva {
        background:
            linear-gradient(
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)
            ),
            url(pictures/finnish-nature.jpg);
        background-size: cover;
        min-width: 100%;
        max-width: 100%;
        height: 40%;
    }
    .ekologiset-tuotteet {
        text-align: center;
        line-height: 40vh; 
        color: snow;
        font-family: "Rowdies";
        font-size: 1.35em;
    }
}


/*ysl loppu*/

/*puhelin,s-posti iconit ja y-tunnus ja osoite*/
.kaikki-iconsit-kaikki-muut {
    display: flex;
    margin-bottom: 20px;
}

.iconi-muu {
    min-width: 45%;
    padding-top: 10px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 0;
    color: #333;
    font-size: 1.4em;
    font-weight: 400;
    font-family: "Roboto";

}

.icon {
    padding-top: 10px;
    cursor: pointer;
}

.company-name {
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    font-family: "Rowdies";
    color: #111;
}
/**/
/*Ylävalikko osuus*/
header {
    position: fixed;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
}

.upper-navbar li {
    padding: 0px 20px 0px 20px;
}

.header-container {
    background-color: #24305E;
    text-align: center;
}
.menu {
    border-bottom: 2px solid #A8D0E6;

}
.navbar a {
    display: inline-block;
    padding: 0.5em;
    color: cornsilk;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Lucida Sans';
}

.kieli-valikko {
    display: inline-block;    
}
.kieli-valikko-selecti {
    border: none;
    background-color: #24305E;
    padding: 0.65em;
    color: cornsilk;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Lucida Sans';
    font-size: 0.85em;
}

.kieli-valikko-selecti option {
    font-family: "Roboto";
}

.kieli-valikko-selecti:hover {
    background-color: #374785;
    cursor: pointer;
}



.navbar li {
    display: inline;
}


.site-link:hover {
    background-color: #374785;
    cursor: pointer;
}
.sivun-nimi {
    margin-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto";
    color: cornsilk;
}

.current {
    background-color: #A8D0E6;
}

/*Ylävalikko osuus*/
/*Vartalon alku*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9ebee;
}

.tuotteet-otsikko {
    margin-top: 1em;
    font-size: 4.5em;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    color: #111;

}

.yrityksesta-otsikko {
    margin-top: 1em;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    color: #111;
}

.text {
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    padding: 15px;
    color: #444;
}

/*Vartalon loppu*/

/*tuotteet blurri ja suurennus*/
#ostos-sivu.active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    pointer-events: none;
    user-select: none;
}
@supports (not (backdrop-filter:none)) and (not (-webkit-backdrop-filter:none)) {
    #ostos-sivu.active {
        background-color: rgba(0,0,0,0.8);
    }
}

#popup {
    display: flex;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 70%;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.sulje-btn {
    align-self: flex-end;
    text-decoration: none;
    border-radius: 2.5px;
    background-color: #24305E;
    color: #fff;
    padding: 5px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.25em;
}

.sulje-btn:hover {
    background-color: #374785;
    cursor: pointer;
}

/*loppu*/

/*Formi tyylilyylit*/

.formin-tausta {
    border: solid 2px #24305E;
    margin: 30px;
    margin-top: 0;
    background-color: #374785;
    border-radius: 8px;
    padding: 20px;
}

form {
    margin-block-end: 0;
    padding: 0;
}

.form-otsikko {
    margin-block-start: 0;
    margin-block-end: 0;
    color: snow;
    text-align: center;
    font-size: 2em;
    font-family: "Roboto";
    font-weight: initial;
}

.nimi-mail-box{
    display: flex;
}


input[type=text] {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #A8D0E6;
    outline: none;
    background-color: #374785;
    color: snow;
    margin-right: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: snow;
    opacity: 1; /* Firefox */
  }

input[type=email] {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #A8D0E6;
    outline: none;
    background-color: #374785;
    color: snow;
}

input:focus {
    background-color: #A8D0E6;
}
textarea:focus {
    background-color: #A8D0E6;
}


input[type=submit] {
    background-color: #24305E;
    width: 100%;
    padding: 10px;
    color: snow;
    text-align: center;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: snow;
}

.form-hr {
    border-color: #A8D0E6;
    border-radius: 50%;
    margin-bottom: 25px;
}

label {
    font-family: "Roboto";
    display: block;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    color: snow;
    font-size: 1.2em;
}



textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #A8D0E6;
    outline: none;
    background-color: #374785;
    color: snow;

    resize: none;
}

.kiitos-viesti {
    color: snow;
    font-size: 1.25em;
    text-align: center;
}

/*Formi hommien loppu*/
/*Tuote tyylittelyt*/
.kaikki-tuotteet-container {
    text-align: center;
}

.tuote-container {
    cursor: pointer;
    text-align: center; 
    display: inline-block;
    background-color: white;
    border: 5px solid #777;
    border-radius: 5%;
    width: 176px;
    height: 240px;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    padding-bottom: 50px;
}

.tuote-nimi {
    color: #333;
    font-weight: 700;
    font-size: 1.9em;
    font-family: "Roboto";
}

.tuote-kuva {
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 10px;
}

.tuote-hinta {
    color: #555;
    font-weight: bold;
    font-family: "Roboto";
}

.tuote-saatavuus {
    padding: 4px;
    background-color: #24305E;
    color: snow;
    font-weight: bold;
    font-size: 1.25em;
}
/*Tuote tyylittelyt loppu*/
/*popup tuotteiden tyylit*/
.popup-section1 {
    float: left;
}

.popup-section2 {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-tuote-otsikko-popup {
    font-weight: bolder;
    font-family: "Rowdies";
    text-align: center;
}

.tuote-kuva-popup {
    height: 200px;
    width: 200px;
}

.tuote-kuvaus-popup {
    font-size: 1.25em;
    font-size: initial;
    font-family: "Roboto";
    margin-bottom: 10px;    
}

.tuote-hinta-popup {
    display: inline-block;
    width: auto;
    padding: 10px;
    background-color: red;
    color: snow;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: "Roboto";
}

.soita-popup {
    font-size: 1em;
    font-size: bolder;
    text-decoration: none;
}

.s-posti-popup {
    font-size: 1em;
    font-size: bolder;
    text-decoration: none;
}


/*ptl loppu*/